# Node / Frontend
node_modules/
.next/
out/
dist/

# Python / Backend e outros
__pycache__/
*.py[cod]
.venv/
env/
.env
.env.*

# Arquivos locais de trabalho
*.pdf
*.pt
*.bin
*.h5
*.spacy
*.jsonl
models/
dataset/
datasets/

# Logs e IDEs
.pytest_cache/
.mypy_cache/
.ruff_cache/
.vscode/
.idea/
*.log
.DS_Store
