# Node / Frontend
apps/web/node_modules/
apps/web/.next/
apps/web/out/

# Python / Backend
__pycache__/
*.py[cod]
.venv/
.venv/
services/backend/.venv/
env/
services/backend/.env
*.pdf
services/backend/*.pdf

# Logs e IDEs
.vscode/
.idea/
*.log