# Node / Frontend
apps/web/node_modules/
apps/web/.next/
apps/web/out/
# Python / Backend e outros
__pycache__/
*.py[cod]
.venv/
.venv/
services/backend/.venv/
.env
env/
services/backend/.env
*.pdf
services/backend/*.pdf
*.pt
*.bin
*.h5
*.spacy
models/
datasets/
# Machine Learning & Datasets locais
models/
dataset/
*.jsonl

# Logs e IDEs
.vscode/
.idea/
*.log 